@charset"UTF-8";

body{
	 background-color: beige ;
	}

.l1{
	text-align:  center;
}
.la1{
	font-family: sans-serif;
	font-size: 25px;
	color: blue;
}
.la2{
	font-family: sans-serif;
	color: mediumblue;
	
}
.pa1{
	font-family: sans-serif;
	font-size: 18px;
	color: limegreen;
}
.pa2{
	font-family: sans-serif;
	font-size: 18px;
	color: darkgreen;
}
.p6{
	font-family: sans-serif;
	font-size: 18px;
	color: darkgreen;
}
.v1{
	font-family: sans-serif;
	color: black;
	font-size: 15px;

}
.l7{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: darkblue;
}
.f1{
	text-align: center;
}
.f6{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: darkred;
}
h1{
	text-align: center;
	font-family: serif;
	font-size: 30px;
	color: black;
}
.fe1{
	font-family: sans-serif;
	font-size: 25px;
	color: red;
}
.fe2{
	font-family: sans-serif;
	font-size: 18px;
	color: purple;
}